body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('pexels-karolina-grabowska-4464438.jpg');
}

.container {
    font-family: Arial, sans-serif;
    background-image: url('pexels-nothing-ahead-20586008.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.container>h1 {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
}


.form-container {
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    width: 60%;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
}

li {
    margin-bottom: 8px;
    font-size: 16px;
}

button.delete-button {
    border: none;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    background: none;
}